body {
  font-family: "Chilanka", cursive;
  max-width: 600px;
  border: 1px solid #dfe1e5;
  padding-top: 15px;
  margin: 20px;
  border-radius: 8px;
}

.additional-information {
  text-align: center;
  margin-top: 15px;
}
#current {
  margin-left: -10px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#city {
  font-size: 33px;
  letter-spacing: 1px;
  font-weight: bold;
}

#temperature {
  font-size: 50px;
}

#temp-info {
  display: block;
  margin: auto;
  text-align: right;
}

#date {
  font-size: 20px;
}

#description {
  font-size: 20px;
}

#icon {
  display: block;
  margin: 0;
  padding: 0;
}

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.middle-wrapper .units {
  position: relative;
  font-size: 16px;
  top: -20px;
}

.additional-information .units {
  position: relative;
  font-size: 13px;
  top: -3px;
}
