body {
  font-family: "Chilanka", cursive;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.additional-information {
  text-align: center;
  margin-top: 15px;
}
#current-button {
  margin-left: -10px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#city {
  font-size: 33px;
  letter-spacing: 1px;
  font-weight: bold;
}

#temperature {
  font-size: 50px;
}

#temp-info {
  display: block;
  margin: auto;
  text-align: right;
}

#date {
  font-size: 20px;
}

#description {
  font-size: 20px;
}

#icon {
  display: block;
  margin: 0;
  padding: 0;
}

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.middle-wrapper .units {
  position: relative;
  font-size: 16px;
  top: -20px;
}

.additional-information .units {
  position: relative;
  font-size: 13px;
  top: -3px;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 15px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
